nav.navbar-dark-custom {
    background-color: #333;
}

.navbar-dark-custom .navbar-nav .show > .nav-link,
.navbar-dark-custom .navbar-nav .active > .nav-link,
.navbar-dark-custom .navbar-nav .nav-link.show,
.navbar-dark-custom .navbar-nav .nav-link.active{
    color: rgb(203, 205, 207);
}
.navbar-dark-custom .navbar-nav .nav-link:hover,
.navbar-dark-custom .navbar-nav .nav-link:focus{
    color: rgb(203, 205, 207);
}
.navbar-dark-custom .navbar-toggler {
    color: rgb(248, 250, 252);
    border-color: rgb(248, 250, 252);
}

.navbar-dark-custom .navbar-brand {
    color: rgb(255, 255, 255);
}
.navbar-dark-custom .navbar-nav .nav-link {
    color: rgb(248, 250, 252);
}

.navbar-dark-custom .navbar-toggler {
    color: #f8fafc;
    border-color: #f8fafc;
    background: #f8fafc;
}

